*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  background-color: black;
}
.box{
   text-align: center; /*Centrar Texto "Caja"*/
   display: grid;
   margin-top: 1px;  /* Espacio entre el titulo, y el margen de la pagina */
   outline-width: 12px; /* Alinear el relleno de la caja, de una esquina la otra */
   color: rgb(0, 0, 0); /* Color del texto "Caja" */
   background-color: rgb(255, 255, 255); /* Color de relleno dentro de "Caja" */
   border: solid 18px rgb(255, 0, 0); /* Color de relleno fuera de "Caja" */
   border-radius: 10px; /* Ovalar el rectangulo */
}

.margen1{
  text-align: center; /*Centrar Texto "Caja" */
  display: grid; 
  margin-top: 160px;
  color: rgb(0, 0, 0); /* Color del texto "Caja" */
  border: solid 18px rgb(255, 0, 0); /* Color de relleno fuera de "Caja" */
  background-color: rgb(255, 255, 255);  
  border-radius: 10px; /* Ovalar el rectangulo */
}

.margen2{
  text-align: center; /*Centrar Texto "Caja" */
  display: grid; 
  margin-top: 160px;
  color: rgb(0, 0, 0); /* Color del texto "Caja" */
  border: solid 18px rgb(255, 0, 0); /* Color de relleno fuera de "Caja" */
  background-color: rgb(255, 255, 255); /*Color de relleno dentro de "Caja" */
  border-radius: 10px; /* Ovalar el rectangulo */
}
